version: 2
updates:
  # Java (Gradle)
  - package-ecosystem: "gradle"
    directory: "/java"
    schedule:
      interval: "weekly"
    groups:
      gradle-dependencies:
        patterns:
          - "*"
  
  # C# (NuGet)
  - package-ecosystem: "nuget"
    directory: "/csharp"
    schedule:
      interval: "weekly"
    groups:
      nuget-dependencies:
        patterns:
          - "*"
  
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
